@tailwind base;
@tailwind components;
@tailwind utilities;


/* color pallete:

dark: #000322
dark primary: #132d46,
primary: #1b5a71,
light primary: #49e9dd,
whiteColor: #fbfbfb,
grayColor: #a0a7b1,

*/